.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #fff;
}

.Weather .btn-branding {
  color: #fff;
  background-color: #ff9900;
  border-radius: 4px;
  font-family: "Unbounded", cursive;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
}

.Weather h1 {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #ff9900;
  background-color: #fdeed8;
}

.Weather ul {
  font-family: "Unbounded", cursive;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.Weather li:first-letter {
  text-transform: capitalize;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 8px;
  display: inline-block;
}

.Weather .current-temperature {
  color: #303030;
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
}

.Weather .weather-temperature .units {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}

@media (max-width: 900px) {
  .Weather .btn-branding {
    font-size: 10px;
  }
}
